DATABASE_URL=jdbc:mysql://mysql:3306/moodly?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DATABASE_USER=
DATABASE_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
JWT_SECRET=
